.main {
    display: flex;
    grid-template-columns: 25% 75%;
}

.left{
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px solid black;
    margin-right: 200px;
}

.right {
    grid-column-start: 2;
    grid-column-end: 3;
}

.loadRpt {
    margin-right: 25px;
    float: right;
    font-size: 20px;
    border-radius: 10px;
}

.loadRpt:hover{
    cursor:pointer;
    color:blue;
}
